.container-questoes{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    margin-left: 48px;
}

.perguntasLbl{
    width: 507px;
    height: 29px;
    flex-shrink: 0;
    color: var(--texts-ttulos, #32264D);
    font-family: Archivo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 141.667% */

}

.container-label{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    color: #ffffff;

}

/* .container-questoes{
    
} */

.nova-questao{
    background: #0000;
    border-radius: 8px;
    color: var(--shapes-01, #ffffff);
    font: 600 14px/26px "Archivo", sans-serif;
    cursor: pointer;
    border: #212443;
    transition: background-color 0.3s ease; 
    top: 19px;
  
}

.nova-questao:hover {
    background-color: #15208B; 
}

.questoes-label{
    width: 133px;
    height: 29px;
    color: var(--texts-ttulos);
    font-family: Archivo;
    font-size: 120px;
    font-style: normal;
    font-weight: 200;
    line-height: 34px; /* 141.667% */


}