.container-jogos{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    margin-left: 48px;
}

.perguntasLbl{
    width: 507px;
    height: 29px;
    flex-shrink: 0;
    color: var(--texts-ttulos, #32264D);
    font-family: Archivo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 141.667% */

}

.container-label{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.container-jogos{
    display: flex;
    align-items: start;
    flex-direction: row;

}

.nova-questao{
    background: #212443;
    border-radius: 8px;
    padding: 15px 40px 15px 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;

    color: var(--shapes-01, #ffffff);
    text-align: left;
    font: 600 14px/26px "Archivo", sans-serif;
    position: relative;
    cursor: pointer;
    border: #212443;
}

.questoes-label{
    width: 133px;
    height: 29px;
    flex-shrink: 0;

    color: var(--texts-ttulos, #ffffff);
    font-family: Archivo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 141.667% */

    display: flex;
    align-items: start;
    flex-direction: column;
}

.container-jogos .funcionalidades{
    display: flex;
    align-items: start;
    flex-direction: column;
}