.nomeJogo{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-left: 20px;
    font: 100 16px/24px "Archivo", sans-serif;

}

img{
    border-radius: 15px;
}

a{
    text-decoration-color: none;
    margin-left: 20px;
}