
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;  
}

.container-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    height: 350px;
    
}
.container .container-btn .btnMenu{
    width: 226px;
    height: 85px;
    border-radius: 5px;
    background: #212443;
    
    display: block;
    
    color: #FFF;
    font: 600 16px/26px "Archivo", sans-serif;
    font-size: 15px;
    letter-spacing: 0.14px;
    border: 1px #212443;
    margin-left: 5px;
    cursor: pointer;


}
