.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    /* height: 100vh;
    width: 100vw; */

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.modal-overlay .modal-body {
    background-color: white;
    padding: 24px;
    height: 600px;
    width: 600px;
    /* height: 60%;
    width: 30%; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative; /* Adicione essa propriedade */
}

.modal-overlay .modal-body .header-modal{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}

.modal-overlay .modal-body h2 {
    font-size: 32px;
}

.modal-overlay .modal-body .input-container {
    /* width: calc(100% - 24px); */
    width: 600px;
}

.input-container-perguta textarea {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--back-lines-in-white, #E6E6F0);
    background: var(--shapes-02, #FAFAFC);
}


.modal-overlay .modal-body .form-pergunta {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
  }


.modal-overlay .modal-body .form-pergunta label {
    color: var(--texts-complementos, #9c98a6);
    text-align: center;
    justify-content: center;
    display: flex;
    font: 400 14px/24px "Poppins", sans-serif;
}


.modal-overlay .modal-body h1 {
    flex-shrink: 0;
    color: var(--texts-ttulos, #32264D);
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 141.667% */
}


.modal-overlay .modal-body .btn-salvar {
    /* position: relative; */
    width: 30%;
    margin-top: 20px;
    padding: 15px 40px;
    align-items: first baseline;
    border-radius: 8px;
    background: #212443;

    color: var(--shapes-01, #FFF);
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */

}

.modal-overlay .modal-body .btn-salvar:hover {
    background-color: #343547;
    transform: scale(1);
}

.modal-overlay .modal-body {
    padding-right: 40px; 
}

.close{
    position: absolute; /* Mude para absolute */
    top: 0; /* Posição superior em relação ao topo do modal */
    right: 0; /* Posição direita em relação à direita do modal */
    width: 30px;
    height: 30px;
    fill: #212443;
    stroke-width: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: #212443;
    cursor: pointer; /* Adicione um cursor para indicar que é clicável */
    z-index: 1000; /* Certifique-se de que o botão de fechar esteja na parte superior */
}

.modal-overlay .modal-body .header-modal button{
    width: 55px;
    height: 39px;
    background-color:#212443;
    border-radius: 5px;
    color: #FAFAFC;

}

.input-container-perguta{
    padding-left: 16px;
    padding-right: 16px;
    
}

.input-container-perguta label{
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-pergunta input{
    width: 402.966px;
    height: 42px;
    flex-shrink: 0;

    border-radius: 8px;
    border: 1px solid var(--back-lines-in-white, #E6E6F0);
    background: var(--shapes-02, #FAFAFC);

}

.form-pergunta textarea{
    width: 437px;
    height: 87px;
}

