.container-perguntas{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    color: #ffffff;
}

.questoes{
    width: 305px;
    height: 191px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #D9D9D9;
    margin-left: 46px;
}

.container-btn-questoes{
    display: flex;
    justify-content: space-around;
    flex-direction: column; /* Define a direção como coluna para empilhar os botões */
    align-items: center; /* Para centralizar os botões horizontalmente */

}


.btnQuestoesEditar {
    background: #212443;
    border-radius: 8px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    width: 128px;
    height: 43px;
    color: var(--shapes-01, #ffffff);
    font: 600 16px/26px "Archivo", sans-serif;
    border: none; 
    transition: background-color 0.3s ease; 
    margin-right: 500px;
}
.btnQuestoesEditar:hover {
    background-color: #15208B; 
}

.btnQuestoesExcluir {
    background: #212443;
    border-radius: 8px;
    align-items: center;
    width: 128px;
    height: 43px;
    color: var(--shapes-01, #ffffff);
    font: 600 16px/26px "Archivo", sans-serif;
    border: none; 
    transition: background-color 0.3s ease; 
    text-align: center;
    margin-right: 500px;
}
.btnQuestoesExcluir:hover {
    background-color: #8B1515; 
}

button{
    margin-bottom: 1px;
    cursor: pointer;

}

.containerGerenciarQuestoes {
    background-color: #8B1515;
    align-items: baseline;
}